<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFSgur</title>
</head>
<body>
    <h1>Upload a image</h1>
    <h2 style="color: red;">Note: IPFS is very slow, Images greater than 100kb takes 1-2 minutes to upload. Please co-operate!</h2>
    <br><br>
    <form enctype="multipart/form-data" method="post">
        Upload your image here: <input type="file" name="file1"><br>
        Make image public: <input type="checkbox" name="public_name" id="public_id"><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>